
.paginated {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.page-link {
  border: 3px solid  hsl(207, 26%, 17%);
  padding: 5px 10px;
  margin: 2px;
  color: #1a3873;
  border-radius: 50%;
  color: black;
  cursor:pointer;
}
.page-link:focus,
.page-link:active,
.prev:focus {
  border: 3px solid #d92546;
}
.prev {
  border: 3px solid  hsl(207, 26%, 17%);
  padding: 5px 10px;
  margin: 2px;
  color: black;
  cursor: pointer;
  border-radius: 10px;
}
.prev:focus,
.prev:active {
  border: 3px solid #d92546;
}
