.card {
  background: #78abbf;
  margin-bottom: 20px;
   /* background: hsl(207, 26%, 17%);
   color: #fff; */
  background: hsl(0, 0%, 100%) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 8px;
  font-size: 1.1rem;
  /* position: relative; */
}
.card p {
  display: flex;
  margin-bottom: 6px;
}
.first {
  width: 40%;
  font-weight: 600;
  /* border: 1px solid red; */
}
.card button {
  background: transparent;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 600;
  /* width: 100px; */
  display: flex;
  align-items: center;
  margin-left: auto;
  /* position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 30px; */
}
.card button:hover {
  color: #d92546;
}
.fa-chevron-right {
  color: green;
  margin-left: 2px;
}
