.search-field {
  display: flex;
  flex-direction: column;
}
.search-field .search {
  color: #fff;
  font-size: 1.2rem;
}

.search-field input {
  height: 40px;
  font-size: 1.3rem;
  width: 200px;
  margin-right: 60px;
  padding: 0 5px;
}

@media(max-width: 650px){
  .search-field input {
  width:285px;
  margin-bottom: 10px;
  margin-right: 0;
}
}
