.filter-field {
  display: flex;
  flex-direction: column;
}
.filter-field-container {
  display: flex;
}
.filter-field p {
  color: #fff;
  font-size: 1.2rem;
}
.filter-field-container select {
  height: 40px;
  font-size: 0.9rem;
  width: 140px;
  margin-right: 5px;
}
