@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;

}

a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
.App {
  position: relative;
  /* background: hsl(207, 26%, 17%); */
  background: hsl(0, 0%, 98%);
}
.search-and-filter-container {
  background: hsl(207, 26%, 17%);
  padding: 30px 0;
}
.searchandfilter {
  display: flex;
  width: 85%;
  margin: auto;
  background: hsl(207, 26%, 17%);
}
.profile-posts {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 0;
  grid-column-gap: 3%;
}

@media(max-width: 1000px){
  .profile-posts {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3%;
 }
}

@media(max-width: 650px) {
  .searchandfilter {
  flex-direction: column;;
}
.search-and-filter-container {
  background: hsl(207, 26%, 17%);
  padding: 10px 0 30px 0;
}
.profile-posts {
  grid-template-columns: 1fr;
 
}
}
